.header {
    position: relative;
    z-index: 1000;
    color: var(--color-black);
    transition: background-color 0.5s ease-in-out;

    &__wrapper {
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        transition: padding 0.3s ease-in-out;
    }

    &__hamburger {
    }

    &__logo {
        flex-shrink: 0;
        &-link {
            display: block;
        }

        &-img {
            height: 6rem;
        }
    }

    &__nav {
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: height 0.5s cubic-bezier(0.3, -0.25, 0.75, 1.3);

        &-list {
            margin-top: 3rem;
            border-top: 1px solid var(--color-black);
            padding-top: 10px;
            list-style: none;
        }

        &-item {
            letter-spacing: 3.5px;
            text-transform: uppercase;
            font-size: 1.6rem;
        }

        &-link {
            position: relative;
            display: block;
            padding: 10px 5px;
            transition: background-color 0.5s;

            &:link,
            &:visited {
                color: inherit;
            }

            &:hover,
            &:active {
            }
        }
    }

    &.moved {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: var(--color-black);
    }

    &.moved &__wrapper {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    &.moved &__logo {
        &-img {
            filter: brightness(0) invert(1) !important;
        }
    }

    @media (min-width: 768px) {
        &__wrapper {
            flex-wrap: nowrap;
        }

        &__hamburger {
            display: none;
        }

        &__nav {
            width: auto;
            padding-top: unset;
            height: 100% !important;

            &-list {
                margin-top: unset;
                border-top: unset;
                padding-top: unset;

                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
            }

            &-item {
                font-size: 1.4rem;
            }

            &-link {
                padding: 0.5rem 1rem;
            }

            &-item.active &-link:before,
            &-item:hover &-link:before {
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                height: 1px;
                background-color: currentColor;
                left: 1rem;
                right: 1rem;
                margin: 0;
            }
        }
    }

    @media (min-width: 992px) {
        &__nav {
            &-link {
                padding: 1rem 2rem;
            }

            &-item.active &-link:before,
            &-item:hover &-link:before {
                left: 2rem;
                right: 2rem;
            }
        }
    }
}
